.portada-container img {
    width: 100%;
    height: 100%;
}
.instrucciones{
    background-image: url(../images/Fondo.png);
    text-align: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.instrucciones{
    display: block;
}

.contador-container{
    height: 100vh;
}
.contador-container .row{
    height: 100vh;
}

.colum-izquerda-contador,
.colum-derecha-instrucciones{
    display: flex;
    height: 100%;
    align-items: end;
}

.colum-izquerda-image{
    width: 100%;
    background-color: red;
}
.colum-izquerda-image img{
    width: 100%;
}

