.portada-container img {
    width: 100%;
    height: 100%;
}
.instrucciones,
.proceso-admin,
.planeacion,
.organizacion,
.direccion,
.control,
.felicitaciones,
.derechos {
    background-image: url(../images/Fondo.png);
    text-align: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.instrucciones,
.proceso-admin,
.planeacion,
.organizacion,
.direccion,
.control,
.felicitaciones,
.derechos {
    display: block;
}

.colum-izquerda-contador {
    display: flex;
    height: 100vh;
    align-items: end;
}

.colum-izquerda-image {
    width: 100%;
}

.colum-izquerda-image img {
    width: 100%;
}

.colum-derecha-texts {
    height: 40%;
    padding-top: 20px;
}

.colum-derecha-texts .colum-derecha-image-instrucciones{
    width: 100%;
    text-align: right;
}

.colum-derecha-texts .colum-derecha-image-instrucciones img:nth-child(1n){
    width: 90%;
}
.colum-derecha-texts .colum-derecha-image-instrucciones img:nth-child(2n){
    width: 12%;
}

.colum-derecha-botones {
    height: 60%;
    padding-left: 80px;
    padding-top: 30px;
}

.colum-derecha-botones-conceptos img{
    margin-bottom: 30px;
}

.colum-derecha-botones-definiciones img{
    margin-bottom: 10px;
}